/* Write your CSS code here */
.blog-item-container {
  display: flex;
  flex-direction: column;
}
.row-container {
  display: flex;
  justify-content: space-between;
}
.title {
  color: #12022f;
  font-family: 'Roboto';
  font-weight: 500;
}
.published-date {
  color: #9aa5b1;
  font-family: 'roboto';
  font-size: 14px;
}
.description {
  color: #9aa5b1;
  font-family: 'roboto';
  font-size: 14px;
}
